.bg-image {
  background-image: url("https://picsum.photos/id/51/200");
  width: 600px;
  height: 600px;
}

.bg-small {
  background-image: url("https://picsum.photos/id/61/200");
  width: 350px;
  height: 350px;
  border: 1px solid gray;
}

.bg-repeat-off {
  background-repeat: no-repeat;
  width: 300px;
}

.bg-repeat-no-crop {
  background-repeat: round;
  width: 500px
}

.text {
  color: white;
  font-weight: bold;
  font-size: 30px;
  padding: 20px;
}
