body {
  margin: 30px;
  font-size: 1.3rem;
}

dl {
  width: 250px;
  overflow: auto; /* отображение полос прокрутки, если содержимое переполняет элемент */
  height: 250px;
  border: 2px solid burlywood;
}

dt {
  position: sticky;
  top: 0; /* попробуйте изменить это значение на 20px */
  background-color: bisque;
  margin-bottom: 3px;
  padding: 10px;
}

dd {
  padding: 10px;
}
