div {
  width: 100px;
  height: 100px;
  background-color: blue;
}

/* высота автоматически рассчитывается в соответствии
 с содержимым элемента p */
p {
  width: 400px;
  background-color: yellow;
}
