/* 0 0 1 */
body {
  margin: 30px;
}

/* 0 1 0 */
.title {
  color: blue;
}

/* 0 0 1 */
h2 {
  color: green;
}

/* 1 0 0 */
#conflicts-resolution {
  text-decoration: underline;
  color: #bd694a;
}

/*********************************************/

/* 0 1 0 */
[class="description"] {
  color: darkred;
}

/* 0 1 0 */
.description {
  color: darkblue;
  font-size: 1.4rem;
}

/*********************************************/

/* 1 0 0 */
#last-paragraph {
  color: #451a74 !important;
}

/* 0 1 0 */
.main {
  color: green !important;
}
