img {
  margin: 25px 0 15px 30px; /* top | right | bottom | left */

  /* или */

  /*
  margin-top: 25px;
  margin-right: 0;
  margin-bottom: 15px;
  margin-left: 30px;
  */
}

/*
Некоторые элементы имеют отступ по умолчанию
Убрать его можно, установив значение margin равным нулю.

Некоторые примеры элементов с отступом по умолчанию:
- элемент параграфа (p)
- заголовки (от h1 до h6)
- body
*/
h1,
body,
p {
  margin: 0;
}
