body {
  margin: 30px;
}

.gridContainer {
  margin-top: 25px;
  font-size: 1.5rem;

  display: grid;
  grid-template-rows: repeat(4, 150px);
  /* 4 ряда и 3 колонки */
  grid-template-areas:
    "header   header header   header"
    "leftside  main   main  rightside"
    "leftside  main   main  rightside"
    "footer   footer footer  footer";

}

.box {
  background-color: cornflowerblue;
  border: 2px solid darkblue;
  padding: 20px;
}

.top-bar {
  grid-area: header;
}

.left-side {
  grid-area: leftside;
  background-color: darkturquoise;
}

.right-side {
  grid-area: rightside;
  background-color: darkturquoise;
}

.main-content {
  grid-area: main;
  background-color: salmon;
}

.footer {
  grid-area: footer;
  background-color: plum;
}

@media (max-width: 800px) {
  .right-side {
    display: none;
  }

  .gridContainer {
    grid-template-areas:
    "header   header header"
    "leftside  main   main"
    "leftside  main   main"
    "footer   footer footer";
  }
}

@media (max-width: 550px) {

  .gridContainer {
    grid-template-rows: repeat(5, 130px);

    /* 5 рядов и 1 колонка */
    grid-template-areas:
      "header"
      "leftside"
      "main"
      "main"
      "footer";
  }
}