body {
  margin: 30px;
}

.hover-button {
  margin-top: 30px;
  font-size: 1.3rem;
  background-color: #3498db;
  color: white;
  padding: 15px 25px; /* top, bottom | right, left */
  border: none; /* удаление границы */
  border-radius: 5px;
  cursor: pointer; /* Стиль указателя мыши при наведении курсора на кнопку */
}

.hover-button:hover {
  color: #34548d;
  background-color: #43b6af; /* изменение цвета на более темный оттенок синего */
  box-shadow: 3px 3px 3px;
}

.hover-button:active {
  margin-top: 33px;
  margin-left: 3px;
  box-shadow: none;
}
